.result {
  padding-top: 75px;
  padding-bottom: 75px;
  background: url("../img/result-bg.jpg") center / cover;

  &--none {
    padding: 0;
    background: none;
  }
}

.result__title-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 59px;

  &::after,
  &::before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 100%;
    max-width: 175px;
    height: 1px;
    margin-top: 6px;
    background: #e59c7d;
  }
}

.result__title-center .title {
  flex-shrink: 0;
  padding: 0 40px;
  margin: 0;
}
