mixin page-footer()
  .callback
    .container
      .row
        .col-lg-6
          section.application
            h2.title.application__title Оставь заявку через #[br] сайт или #[a(href="https://wa.me/79234567890") WhatsApp]
            a.application__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            p.application__text #[span Найдем] решение #[span и проконсультируем по стоимости и срокам] через 5-7 мин.
        .col-lg-6
          form.form-mess
            .row
              .col-md-6
                label.form-doc.form-doc--name.form-doc--orange.form-mess__ident
                  input.form-doc__input(type="text" name="name" placeholder="Как вас зовут?" required="")
              .col-md-6
                label.form-doc.form-doc--tel.form-doc--orange.form-mess__ident
                  input.form-doc__input(type="tel" name="tel" placeholder="+7 (___) ___ - __ - __" required="")
              .col-md-12
                label.form-doc.form-doc--message.form-doc--orange.form-mess__ident
                  textarea.form-doc__textarea(name="message" placeholder="Кратко опишите задачу" required="")
            .row.form-mess__row
              .col-md-6
                button.btn.form-mess__btn Отправить
              .col-md-6
                +field-file({
                  mods: '',
                  attrs: {
                    name: 'commentFile',
                    multiple: true,
                  },
                  text: {
                    selectText: 'прикрепить фото',
                    nothingText: '',
                    flesSelectedText: 'Выбрано файлов:',
                  },
                })
            label.form-checkbox.form-checkbox--black
              input(type="checkbox" required="" checked)
              span.form-checkbox__check.form-checkbox__check--white(aria-label="Согласие на обработку данных")
              span.form-checkbox__text.form-mess__size Отправляя данные вы даете свое согласие  на обработку персональных данных
  .result
    .container
      .result__title-center
        h2.title.title--white Посмотрите #[span результат] наших работ
      .gallary.owl-carousel.owl-theme
        a.item.gallary__img.gallary__img--after(data-fancybox href="img/gallary-1.jpg")
          img.gallary__img(src="img/gallary-1.jpg" alt="Изображение")
          .gallary__desc
            strong.gallary__title Ремонт джемпера
            p.gallary__text Описание проблемы, например: #[br] оторванный по шву воротник
        a.item.gallary__img.gallary__img--before(data-fancybox href="img/gallary-2.jpg")
          img.gallary__img(src="img/gallary-2.jpg" alt="Изображение")
          .gallary__desc
            strong.gallary__title Ремонт джемпера
            p.gallary__text Методы рещения проблемы, срок
        a.item.gallary__img.gallary__img--video(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.gallary__img(src="img/gallary-3.jpg" alt="Изображение")
          .gallary__desc
            strong.gallary__title Отзыв о работе
        a.item.gallary__img.gallary__img--after(data-fancybox href="img/gallary-1.jpg")
          img.gallary__img(src="img/gallary-1.jpg" alt="Изображение")
          .gallary__desc
            strong.gallary__title Ремонт джемпера
            p.gallary__text Описание проблемы, например: оторванный по шву воротник
  footer.page-footer
    .container
      .row.page-footer__ident
        .col-sm-6.col-md-4
          section.contact
            h3.contact__adress Верхнеторговая площадь, 6 #[span (БЦ Нестеров)]
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            span.contact__time Время работы: 10:00-19:00
        .col-sm-6.col-md-4
          section.contact
            h3.contact__adress Менделеева, 7/3 #[span (в здании магазина "Старая Уфа")]
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            span.contact__time Время работы: 10:00-19:00
        .col-sm-6.col-md-4
          section.contact
            h3.contact__adress Зубово, Серебряная, 91 #[span (в здании супермаркета)]
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            span.contact__time Время работы: 10:00-19:00
      .row.page-footer__center
        .col-md-8
          ul.rubric-nav
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Ремонт одежды
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Ремонт сумок
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Ремонт кожи и меха
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Подгонка по фигуре
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Пошив одежды
        .col-md-4
          ul.social
            li.social__item
              a.social__link
                svg(width="25" height="25")
                  use(xlink:href="img/symbols.svg#vk")
            li.social__item
              a.social__link
                svg(width="18" height="18")
                  use(xlink:href="img/symbols.svg#im")
  +developer()
