* {
  box-sizing: border-box;
}

body {
  font: 300 $fz $gilroy;
  line-height: 25px;
  color: $text-color;
}

p {
  margin-top: 0;
  margin-bottom: 35px;
}

a {
  cursor: pointer;
  transition: $time;

  &:hover {
    text-decoration: none;
  }
}

button {
  transition: $time;
  cursor: pointer;
}

img {
  max-width: 100%;
}
