.advantages {
  @include ul-none();
  @include make-row();
}

.advantages__item {
  padding-left: 80px;
  margin-bottom: 40px;
  background: url("../img/success.png") no-repeat left center /contain;

  @media(min-width: $screen-xl) {
    margin-bottom: 0;
  }
}

.advantages__text {
  font: 400 21px $neumann;
}

.advantages__time {
  margin: 0;
  font-size: 16px;
}
