.developer {
  background: #26252d;
  @media(min-width: $screen-xl) {
    position: relative;
    z-index: 1;
  }
}

.developer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 31px;
  padding-bottom: 31px;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-around;
    // padding-top: 35px;
  }

  @media (min-width: $screen-xl) {
    // margin: 0 -55px;
    justify-content: space-between;
  }
}

.developer__text {
  display: inline-block;
  margin: 0 0 46px;
  color: #757575;
  font: 400 14px/23px "Geometria", "Arial", sans-serif;
  line-height: 23px;

  @media(min-width: $screen-md) {
    margin-bottom: 0px;
  }
}

.developer__logo {
  display: block;

  @media(min-width: $screen-xl) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
  }
}
