mixin developer()
  .developer
    .container.container--footer
      .developer__row
        a.developer__text(href="#") политика конфиденциальности
        a.developer__logo(href="https://pplans.ru", target="_blank")
          img(src="img/sprite/pplans.svg", alt="Веб студия «People Plans» — Разработка сайтов и лендингов")
