// В этом файле должны быть стили для БЭМ-блока table, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$font-size--small:            80% !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.table {

  $block-name:                &; // #{$block-name}__element
  width: 100%;
  // min-width: 745px;
  margin-bottom: 0;
  overflow-x: auto;
  background-color: transparent;
  border-collapse: collapse;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    width: 21%;
    padding: 10px 5px;
    vertical-align: top;
    border-bottom: 10px solid $white;
    border-top: 0px solid $white;
    font-size: 12px;


    &:not(:first-child) {
      // border-left: 1px solid $border-color;
    }

    @media(min-width: $screen-md) {
      font-size: 18px;
      padding: 18px;

    }
  }

  th {
    text-align: left;
    font-weight: 400;
    background: #efefef;


    &:first-child {
      min-width: 100px;


      @media(min-width: $screen-xl) {
        padding: 18px 60px;
        width: 30%;
      }
    }
  }

  td {
    background: #fbfbfb;

    &:first-child {
      min-width: 100px;


      @media(min-width: $screen-xl) {
        padding: 18px 60px;
        width: 30%;
      }
    }
  }

  tbody,
  thead,
  tfoot {

    &:last-child {

      tr:last-child {

        // stylelint-disable  max-nesting-depth, selector-max-compound-selectors
        td,
        th {
          border-bottom: 0;
        }
        // stylelint-enable
      }
    }
  }

  thead {
    // background: #efefef;
  }

  caption {
    caption-side: top;
    text-align: left;
    padding: 0.4rem $field-padding-horizontal;
    border-bottom: 1px solid $border-color;
    font-size: $font-size--small;
    line-height: 1em;
    color: $text-color--muted;
  }
}
