.form-callback {
  max-width: 255px;

  &--width {
    max-width: 555px;
  }
}

.form-callback__btn {
  margin-bottom: 28px;
  display: block;
  width: 100%;
  padding: 19px;
}

.form-callback__mb-tel {
  margin-bottom: 38px;
}
