.contact-header {
  // position: relative;
  text-align: right;
  margin-left: auto;
  // z-index: 1;
}

.contact-header__tel {
  display: block;
  font: 400 12px $neumann;
  text-decoration: none;
  color: $white;

  &--black {
    color: $black;
  }

  @media(min-width: $screen-sm) {
    font-size: 16px;
  }
}

.contact-header__call {
  display: block;
  font-size: 9px;
  line-height: 16px;
  font-weight: 300;
  color: #d6977e;
  text-decoration: underline;

  @media(min-width: $screen-sm) {
    font-size: 14px;
    line-height: 25px;
  }
}
