.main-block {
  max-width: 350px;

  &--width {
    max-width: 100%;
  }
}

.main-block__title {
  font: 400 32px $neumann;
  color: $white;
  margin-bottom: 15px;

  &--ident {
    margin-bottom: 5px;
  }

  @media(min-width: $screen-lg) {
    font-size: 52px;
  }
}

.main-block__title span {
  color: #f9ad8d;
}

.main-block__size {
  font-size: 32px;
  line-height: 1;

  @media(min-width: $screen-lg) {
    font-size: 68px;
  }
}

.main-block__tagline {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 67px;
  color: $white;
}

.main-block__tagline-ident {
  margin-bottom: 35px;
}
