.main-block {
  max-width: 350px;

  &--width {
    max-width: 100%;
  }
}

.main-block__title {
  font: 400 52px $neumann;
  color: $white;
  margin-bottom: 15px;
}

.main-block__title span {
  color: #f9ad8d;
}

.main-block__size {
  font-size: 68px;
  line-height: 1;
}

.main-block__tagline {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 67px;
  color: $white;
}
