mixin menu()
  .menu
    .menu__line
      .container.menu__row
        button.menu__close(aria-label="Закрытие меню")
        h2.title.menu__title Каталог услуг
        .contact-header.menu__contact-header
          a.contact-header__tel.contact-header__tel--black(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
    .container.menu__container
      nav.menu__navigation
        ul.menu__navigation-list
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="rubrick.html") Ремонт одежды
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Джинсы
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Брюки
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Платье
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Рубашка
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="rubrick.html") Ремонт сумок
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Джинсы
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Брюки
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Платье
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Рубашка
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="rubrick.html") Ремонт кожи и меха
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Джинсы
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Брюки
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Платье
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Рубашка
          li.menu__navigation-item
            a.menu__navigation-link.menu__navigation-link--none-xl(href="rubrick.html") Пошив
            ul.menu__navigation-drop
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Джинсы
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Брюки
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Платье
              li.menu__navigation-item.menu__navigation-item--grey
                a(href="usluga.html").menu__navigation-link Рубашка
