.page-header {
  padding-top: 30px;
  padding-bottom: 87px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
  margin-right: 70px;
}

.page-header__btn {
  position: relative;
  padding: 9.5px 46px 9.5px 15px;
  font-size: 14px;
  background: $white;
  border-radius: 50px;
  border: none;
  margin-right: 25px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8.5px;
    width: 17px;
    height: 17px;
    background: url("../img/sprite/menu.svg") no-repeat center / contain;
  }
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__list-nav {
  @include ul-none();
  display: flex;
}

.page-header__list-link {
  color: $white;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 14px;
}
