mixin page-header()
  .page-header
    a.page-header__logo(href="index.html")
      img(src="img/logo.png" alt="Сеть ателье «Винтаж»")
    button.page-header__btn Каталог услуг
    ul.page-header__list-nav
      li.page-header__list-item
        a.page-header__list-link(href="#") Наши работы
      li.page-header__list-item
        a.page-header__list-link(href="#") Адреса филиалов
    .contact-header
      a.contact-header__tel(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
      a.contact-header__call оформить заказ
