// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {

  $block-name:                &;
  // #{$block-name}__element

  padding: 0;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 10px;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid $white;

    &:hover,
    &:focus {
      color: #e59c7d;
      border-bottom: 1px solid #e59c7d;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 5px;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '';
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-left: 0.8rem;
      color: $gray;
      background: url("../img/sprite/right-arrow.svg") no-repeat center / contain;
    }
  }
}
