.all-service {
  padding-top: 68px;
  padding-bottom: 71px;
  background: url("../img/assorted-bg.jpg") no-repeat center / cover;

  &--none {
    padding: 0;
    background: none;
  }
}

.all-service__title-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 55px;

  @media(min-width: $screen-lg) {
    &::after,
    &::before {
      content: "";
      display: inline-block;
      vertical-align: text-top;
      width: 25%;
      height: 1px;
      margin-top: 6px;
      background: #e59c7d;
    }
  }
}

.all-service__title-center .title {
  margin: 0;

  @media(min-width: $screen-lg) {
    flex-shrink: 0;
    padding: 0 40px;
  }
}
