.single-header {
  background: #333 url("../img/bg-single-1.jpg") no-repeat center / cover;
  padding-bottom: 70px;

  &--service {
    background: #333 url("../img/bg-single-2.jpg") no-repeat center / cover;
  }
}
