extends pug/layout.pug

block meta
  title Главная
block header
  .fullpage
    .container
      +page-header()
      section.main-block
        h1.main-block__title Сеть ателье #[span.main-block__size «Винтаж»]
        p.main-block__tagline Подгонка, ремонт и пошив одежды любой сложности в Уфе
        form.form-callback
          label.form-doc.form-doc--tel.form-callback__mb-tel
            input.form-doc__input(type="tel" name="tel" placeholder="+7 (___) ___ - __ - __" required="")
          button.btn.form-callback__mb Обсудить заказ
          label.form-checkbox
            input(type="checkbox" required="" checked)
            span.form-checkbox__check(aial-label="Согласие на обработку данных")
            span.form-checkbox__text Отправляя данные вы даете свое согласие  на обработку персональных данных
block content
  main
    .description
      .container
        .row
          .col-md-6
            h2.title.title--page #[span Ателье] по&nbsp;ремонту и пошиву одежды в&nbsp;Уфе
            p На рынке услуг мы работаем 10 лет В этом году у нас юбилей. Все сотрудники имеют высшее образование, мы инженеры- технологи швейных изделий. Наши сотрудники имеют высшее образование инженеров-технологов швейного производства.
            p Коллектив ателье небольшой, но везде успевающий - вся работа постоянно находится под контролем. Мы любим наших клиентов. Некоторые клиенты для нас уже больше чем постоянные - как родные, делятся секретами и обсуждают семейные дела.
            p У ателье очень удобное расположение, наши услуги пользуются популярностью в городе и особенно ценятся жителями Зеленой Рощи.
          .col-md-6
        ul.advantages
          li.col-md-3
            .advantages__item
              strong.advantages__text Ремонт одежды:
              p.advantages__time 1-3 дня
          li.col-md-3
            .advantages__item
              strong.advantages__text Срочный ремонт:
              p.advantages__time 30 минут
          li.col-md-3
            .advantages__item
              strong.advantages__text Пошив одежды:
              p.advantages__time 11 - 14 дней
          li.col-md-3
            .advantages__item
              strong.advantages__text Срочный пошив:
              p.advantages__time 1-7 дней
    .all-service
      .container
        .all-service__title-center
          h2.title.title--white #[span Мы] предоставляем услуги
        .rubric
          .col-md-4
            section.service(style="background-image: url('img/service-1.jpg')")
              h3.service__title Ремонт сумок
              a.btn.service__link(href="rubrick.html") Узнать подробнее
          .col-md-4
            section.service(style="background-image: url('img/service-2.jpg')")
              h3.service__title Ремонт одежды
              a.btn.service__link(href="rubrick.html") Узнать подробнее
          .col-md-4
            section.service(style="background-image: url('img/service-3.jpg')")
              h3.service__title Пошив одежды
              a.btn.service__link(href="rubrick.html") Узнать подробнее
          .col-md-4
            section.service(style="background-image: url('img/service-4.jpg')")
              h3.service__title Ремонт кожи и меха
              a.btn.service__link(href="rubrick.html") Узнать подробнее
          .col-md-4
            section.service(style="background-image: url('img/service-5.jpg')")
              h3.service__title Подгонка по фигуре
              a.btn.service__link(href="rubrick.html") Узнать подробнее
block footer
  +page-footer()
  +developer()
