extends pug/layout.pug

block meta
  title Услуга
block header
  .single-header.single-header--service
    +menu()
    .container
      +page-header('page-header--ident')
      ul.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link(href="index.html") Главная
        li.breadcrumbs__item
          a.breadcrumbs__link(href="rubrick.html") Ремонт одежды
        li.breadcrumbs__item.breadcrumbs__item--current
          span.breadcrumbs__link Услуга ремонта
      section.main-block.main-block--width
        h1.main-block__title.main-block__title--ident Ремонт одежды #[span в Уфе]
        p.main-block__tagline.main-block__tagline-ident Ремонт и реставрация одежды любой сложности в ателье «Винтаж»
        form.form-callback.form-callback--width
          .row
            .col-md-6
              label.form-doc.form-doc--tel.form-callback__mb-tel
                input.form-doc__input(type="tel" name="tel" placeholder="+7 (___) ___ - __ - __" required="")
            .col-md-6
              button.btn.form-callback__btn Обсудить заказ
          label.form-checkbox.form-checkbox--width
            input(type="checkbox" required="" checked)
            span.form-checkbox__check(aria-label="Согласие на обработку данных")
            span.form-checkbox__text Отправляя данные вы&nbsp;даете свое согласие на&nbsp;обработку персональных данных
block content
  main
    .description(id="description")
      .container
        .row.description__ident
          .col-lg-6
            h2.title.title--page.description__title #[span Заголовок] текста о&nbsp;ремонте одежды
            p Текст о ремонте одежды в Уфе. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus ex sit amet enim laoreet, ut vehicula magna accumsan. Sed efficitur sit amet tellus hendrerit dictum. Cras viverra dolor ut mi tincidunt molestie.
            p Sed finibus luctus odio quis egestas. In ligula est, consectetur ut auctor ut, facilisis eu quam. Donec porttitor nisi erat, non rutrum ipsum semper eu. Suspendisse aliquam maximus nisl. Cras sit amet urna maximus, tincidunt
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus ex sit amet enim laoreet, ut vehicula magna accumsan. Sed efficitur sit amet tellus hendrerit dictum. Cras viverra dolor ut mi tincidunt molestie.
          .col-lg-6
            .block-img
              img.block-img__one(src="img/img-3.jpg" alt="Изображение")
              img.block-img__two(src="img/img-4.jpg" alt="Изображение")
        ul.advantages
          li.col-md-6.col-xl-3
            .advantages__item
              strong.advantages__text Ремонт одежды:
              p.advantages__time 1-3 дня
          li.col-md-6.col-xl-3
            .advantages__item
              strong.advantages__text Срочный ремонт:
              p.advantages__time 30 минут
          li.col-md-6.col-xl-3
            .advantages__item
              strong.advantages__text Пошив одежды:
              p.advantages__time 11 - 14 дней
          li.col-md-6.col-xl-3
            .advantages__item
              strong.advantages__text Срочный пошив:
              p.advantages__time 1-7 дней
    .result.result--none(id="jobs")
      .container
        .result__title-center
          h2.title Посмотрите #[span результат] наших работ
        .gallary.owl-carousel.owl-theme
          a.item.gallary__img.gallary__img--after(data-fancybox href="img/gallary-1.jpg")
            img.gallary__img(src="img/gallary-1.jpg" alt="Изображение")
            .gallary__desc
              strong.gallary__title Ремонт джемпера
              p.gallary__text Описание проблемы, например: #[br] оторванный по шву воротник
          a.item.gallary__img.gallary__img--before(data-fancybox href="img/gallary-2.jpg")
            img.gallary__img(src="img/gallary-2.jpg" alt="Изображение")
            .gallary__desc
              strong.gallary__title Ремонт джемпера
              p.gallary__text Методы рещения проблемы, срок
          a.item.gallary__img.gallary__img--video(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.gallary__img(src="img/gallary-3.jpg" alt="Изображение")
            .gallary__desc
              strong.gallary__title Отзыв о работе
          a.item.gallary__img.gallary__img--after(data-fancybox href="img/gallary-1.jpg")
            img.gallary__img(src="img/gallary-1.jpg" alt="Изображение")
            .gallary__desc
              strong.gallary__title Ремонт джемпера
              p.gallary__text Описание проблемы, например: оторванный по шву воротник
    .price
      .container
        section.price__title
          h2.title Стоимость ремонта платья
        .price__responsive
          table.table
            thead
              tr
                th Замена
                th 1-я категория
                th 2-я категория
                th 3-я категория
            tbody
              tr
                td Молнии:
                td от 500 руб
                td от 900 руб
                td от 1300 руб
              tr
                td Подкладки::
                td от 500 руб
                td от 900 руб
                td от 1300 руб
              tr
                th Замена
                th 1-я категория
                th 2-я категория
                th 3-я категория
              tr
                td Молнии:
                td от 500 руб
                td от 900 руб
                td от 1300 руб
              tr
                td Подкладки::
                td от 500 руб
                td от 900 руб
                td от 1300 руб
              tr
                th Замена
                th 1-я категория
                th 2-я категория
                th 3-я категория
              tr
                td Молнии:
                td от 500 руб
                td от 900 руб
                td от 1300 руб
              tr
                td Подкладки::
                td от 500 руб
                td от 900 руб
                td от 1300 руб

block footer
  .callback.callback--img(id="callback")
    .container
      .row
        .col-lg-6
          section.application
            h2.title.title--white.application__title Оставь заявку через #[br] сайт или #[a(href="https://wa.me/79234567890" target="_blank") WhatsApp]
            a.application__phone.application__phone--white(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            p.application__text.application__text--white #[span Найдем] решение #[span и проконсультируем по стоимости и срокам] через 5-7 мин.
        .col-lg-6
          form.form-mess
            .row
              .col-md-6
                label.form-doc.form-doc--name.form-doc--orange.form-mess__ident
                  input.form-doc__input.form-doc__input--white(type="text" name="name" placeholder="Как вас зовут?" required="")
              .col-md-6
                label.form-doc.form-doc--tel.form-doc--orange.form-mess__ident
                  input.form-doc__input.form-doc__input--white(type="tel" name="tel" placeholder="+7 (___) ___ - __ - __" required="")
              .col-md-12
                label.form-doc.form-doc--message.form-doc--orange.form-mess__ident
                  textarea.form-doc__textarea.form-doc__textarea--white(name="message" placeholder="Кратко опишите задачу" required="")
            .row.form-mess__row
              .col-md-6
                button.btn.form-mess__btn Отправить
              .col-md-6
                +field-file({
                  mods: 'white',
                  attrs: {
                    name: 'commentFile',
                    multiple: true,
                  },
                  text: {
                    selectText: 'прикрепить фото',
                    nothingText: '',
                    flesSelectedText: 'Выбрано файлов:',
                  },
                })
            label.form-checkbox
              input(type="checkbox" required="" checked)
              span.form-checkbox__check.form-checkbox__check--white(aria-label="Согласие на обработку данных")
              span.form-checkbox__text.form-mess__size Отправляя данные вы даете свое согласие  на обработку персональных данных
  footer.page-footer(id="address")
    .container
      .row.page-footer__ident
        .col-sm-6.col-md-4
          section.contact
            h3.contact__adress Верхнеторговая площадь, 6 #[span (БЦ Нестеров)]
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            span.contact__time Время работы: 10:00-19:00
        .col-sm-6.col-md-4
          section.contact
            h3.contact__adress Менделеева, 7/3 #[span (в здании магазина "Старая Уфа")]
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            span.contact__time Время работы: 10:00-19:00
        .col-sm-6.col-md-4
          section.contact
            h3.contact__adress Зубово, Серебряная, 91 #[span (в здании супермаркета)]
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            a.contact__phone(href="tel:+7(347)266-93-15") +7 (347) 266-93-15
            span.contact__time Время работы: 10:00-19:00
      .row.page-footer__center
        .col-md-8
          ul.rubric-nav
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Ремонт одежды
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Ремонт сумок
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Ремонт кожи и меха
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Подгонка по фигуре
            li.rubric-nav__item
              a.rubric-nav__link(href="rubrick.html") Пошив одежды
        .col-md-4
          ul.social
            li.social__item
              a.social__link
                svg(width="25" height="25")
                  use(xlink:href="img/symbols.svg#vk")
            li.social__item
              a.social__link
                svg(width="18" height="18")
                  use(xlink:href="img/symbols.svg#im")
  +developer()
